/* ToggleSwitch */

	$switch-height: 	1.75rem;
	$aspect-ratio: 		1.625;
	$thumb-spacing: 	0.125rem;
	$thumb-size: 		$switch-height - (2 * $thumb-spacing);
	$thumb-slide-size: 	$switch-height * ($aspect-ratio - 1) + $thumb-spacing;

	$switch-on-bg:		_palette(theme);
	$switch-off-bg:		_palette(theme-off);
	$thumb-bg:			_palette(theme-fg);

	.toggle-switch {
		display: inline-block;
		height: $switch-height;
		width: $switch-height * $aspect-ratio;

		cursor: pointer !important;
		user-select: none !important;
		position: relative !important;

		&.on,
		&.off {

			&::before,
			&::after {
				content: '';
				left: 0;
				position: absolute !important;
			}

			&::before {
				height: inherit;
				width: inherit;
				border-radius: $switch-height / 2;
				will-change: background;
				@include vendor('transition', (
					'background #{_duration(transition)} ease-out'
				));
			}

			&::after {
				top: $thumb-spacing;
				height: $thumb-size;
				width: $thumb-size;
				border-radius: $thumb-size / 2;
				background: $thumb-bg;
				will-change: transform;
				@include vendor('transition', (
					'transform #{_duration(transition)} ease-out'
				));
			}
		}

		&.on {
			&::before {
				background: $switch-on-bg !important;
			}
			&::after {
				@include vendor('transform', 'translateX(#{$thumb-slide-size})');
			}
		}

		&.off {
			&::before {
				background: $switch-off-bg !important;
			}
			&::after {
				@include vendor('transform', 'translateX(#{$thumb-spacing})');
			}
		}

	}