
footer {
	@include vendor('transition', (
		'transform #{_duration(article)} ease-in-out',
		'filter #{_duration(article)} ease-in-out',
		'opacity #{_duration(article)} ease-in-out',
	));
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9;
	text-align: center;
	color: _palette(theme-light-fg);
	background-color: _palette(theme-light-bg);

	.copyright {
		letter-spacing: _font(letter-spacing);
		font-size: 0.6rem;
		margin: 0.6rem 0;
		text-transform: uppercase;
	}

	.logo {
		position: absolute;
		top: 0;
		width: 30px;
	}

	a {
		border-color: _palette(theme-light-fg);
	}

	&.theme-dark {
		color: _palette(theme-dark-fg);
		background-color: _palette(theme-dark-bg);

		a {
			border-color: _palette(theme-dark-fg);
		}
	}

	.body.is-article-visible & {
		@include vendor('transform', 'scale(0.95)');
		@include vendor('filter', 'blur(0.1rem)');
		opacity: 0;
	}

	.body.is-loading & {
		opacity: 0;
	}
}