
header {

	@include vendor('display', 'flex');
	@include vendor('flex-direction', 'row');
	@include vendor('justify-content', 'space-between');

	width: 100%;
	z-index: 4;
	background-color: _palette(theme-color);
	color: _palette(theme-dark-fg); /* fg color for header is opposite of normal theme */
	box-shadow: 0 0 3px 0 _palette(theme-light-fg);

	nav {
		display: flex;
		flex-direction: row;

		button {
			@include vendor('box-shadow', none);
			border-radius: 0;
			font-size: 2.2rem;

			&.icon:before {
				margin-right: 0;
			}
		}
	}

	.branding {
		font-size: 2.2rem;
		font-weight: 600;
		span {
			font-size: 80%;
		}
	}

	/* header fg theme colors are reversed from normal */
	&.theme-dark {
		background-color: _palette(switch-on-bg);
		box-shadow: 0 0 3px 0 _palette(theme-dark-fg);
		.branding {
			color: _palette(theme-light-fg);
		}

		nav button {
			color: _palette(theme-light-fg);
		}
	}

	.body.is-article-visible & {
		@include vendor('transform', 'scale(0.95)');
		@include vendor('filter', 'blur(0.1rem)');
		opacity: 0;
	}

	.body.is-loading & {
		> * {
			opacity: 0;
		}

		@include vendor('filter', 'blur(0.125rem)');

		.content {
			.inner {
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
				opacity: 0;
			}
		}
	}

	@include breakpoint(medium) {
		.content {
			p {
				br {
					display: none;
				}
			}
		}
	}

	@include breakpoint(small) {
		> * {
			//margin-top: 2rem;

			&:before {
				top: calc(-2rem - 1px);
				height: calc(2rem + 1px);
			}
		}

		.logo {
			width: 4.75rem;
			height: 4.75rem;
			line-height: 4.75rem;

			.icon {
				&:before {
					font-size: 1.75rem;
				}
			}
		}

		.content {
			.inner {
				padding: 2.5rem 1rem;
			}

			p {
				line-height: 1.875;
			}
		}
	}

	@include breakpoint(xsmall) {
		//padding: 1.5rem 0;

		.content {
			.inner {
				padding: 2.5rem 0;
			}
		}

		nav {
			ul {
				@include vendor('flex-direction', 'column');
				min-width: 10rem;
				max-width: 100%;

				li {
					border-left: 0;
					border-top: solid _size(border-width) _palette(border);

					&:first-child {
						border-top: 0;
					}

					a {
						height: 3rem;
						line-height: 3rem;
						min-width: 0;
						width: 100%;
					}
				}
			}

			&.use-middle {
				&:after {
					display: none;
				}
			}
		}
	}
}